.profileDiv{
    margin-top: 5em;
}

.profile-header{
    transform: translateY(4rem);
    margin-left: 2em;
    margin-right: 2em;
}

.profile{
    display: flex;
    width: 100%;
}

.profile h4{
    font-family: 'OpenSansSemiBold';
    font-size: 2em;
}

.profile p{
    color: #696969;
    font-size: 2em;
}

.profile h6{
    font-size: 1.6em;
}

.profile p, .profile h6{
    font-family: 'OpenSansRegular';
}

.infoUserDiv{
    margin-top: 0em;
    margin-left: 2em;
    margin-right: 0em;
    width: 100%;
}

.infoButtonsAccountDiv{
    margin-top: 5em;
    width: 100%;
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 3em;
}

.buttonsAccountUl{
    width: 100%;
    margin: 0;
}

.buttonsAccountUl li{
    width: 25%;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.buttonsAccountUl button{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #00b2e5;
    display: block;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: 'OpenSansRegular';
    text-align: center;
}

.buttonsAccountUl button:hover{
    background-color: #006e8d;
}

.addListBtn{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: white;
    font-weight: bold;
    background-color: #575757;
    display: block;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    font-family: 'OpenSansRegular';
    text-align: center;
}

.addListBtn:hover{
    background-color: #312e2e;
}

.addListDiv{
    margin-bottom: 6em!important;
    display: flex;
}

.addListBtn{
    margin-top: 0em;
    margin-left: 60em;
    margin-right: 60em;
}

@media (max-width: 767px){
    .profile > #userImg{
        width: 53%;
        height: 10em;
    }

    .profile-header{
        margin-left: 0.5em!important;
    }
  
    .imgDiv, .detailsDiv{
        margin-left: 0.9em!important;
    }

    .imgDiv > img{
        margin-left: 0.9em!important;
    }

    .text-sm{
        font-size: 13px!important;
    }

    .text-sm-button{
      font-size: 10px!important;
      width: 130%!important;
    }
}