<div class="container navDiv">
    <app-navbar></app-navbar>
</div>

<div class="contentDiv">
    <div class="contain mt-5 p-5 formDiv">
        <form method="post" class="searchForm">
            <div class="row">
                <div class="mb-3 col-lg-10 inputDiv">
                    <input type="text" class="form-control" name="itemNameInput" placeholder="Buscar una película, serie, persona..." [(ngModel)]="itemNameInput" [ngClass]="{ 'invalid-input': emptyInputBool && itemNameInput.trim() === '' }">
                    <p class="error-message" *ngIf="emptyInputBool && itemNameInput.trim() === ''">Por favor, ingresa un término de búsqueda para encontrar resultados</p>
                    <p class="noResultsMessage" *ngIf="noResultsBool && emptyInputBool == false">No se encontraron resultados</p>
                </div>

                <div class="col-lg-2 buttonDiv">
                    <button type="submit" (click)="submitSearchForm()" class="btn btn-md">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Compruebo si los arrays están vacíos para mostrar o no el grid-horizontal -->
    <!-- También le paso el array, el título y la función que tiene que ejecutar cada grid-horizontal para la paginación -->
    <div class="moviesDiv" [ngStyle]="{'display': movies.length == 0 ? 'none' : ''}">
        <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="moviesTitle" [items]="movies"  (pagination)="paginationSearchMovies()"></app-grid-horizontal>
    </div>

    <div class="tvShowsDiv" [ngStyle]="{'display': tvShows.length == 0 ? 'none' : ''}">
        <app-grid-horizontal [typeOfItem]="'serie'" [title]="tvShowsTitle" [items]="tvShows" (pagination)="paginationSearchTvShows()"></app-grid-horizontal>
    </div>

    <div class="peopleDiv" [ngStyle]="{'display': people.length == 0 ? 'none' : ''}">
        <app-grid-horizontal [typeOfItem]="'persona'" [title]="peopleTitle" [items]="people" (pagination)="paginationSearchPeople()"></app-grid-horizontal>
    </div>
</div>

<div class="footerDiv">
    <app-footer></app-footer>
</div>