<div class="container navDiv">
    <app-navbar></app-navbar>
</div>

<!-- Compruebo si los arrays están vacíos para mostrar o no el carousel/grid-horizontal -->
<!-- También le paso el tipo de item (para el detalle), el array, el título y la función que tiene que ejecutar cada grid-horizontal para la paginación -->
<div class="trendingDiv" [ngStyle]="{'display': trendingMovies.length == 0 ? 'none' : ''}">
    <app-carousel [typeOfItem]="'pelicula'" [items]="trendingMovies"></app-carousel>
</div>

<div class="popularDiv"  [ngStyle]="{'display': popularMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="popularMoviesTitle" [items]="popularMovies" (pagination)="paginationPopularMovies()"></app-grid-horizontal>
</div>

<div class="upcomingDiv" [ngStyle]="{'display': upcomingMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="upcomingMoviesTitle" [items]="upcomingMovies" (pagination)="paginationUpcomingMovies()"></app-grid-horizontal>
</div>

<div class="comedyDiv" [ngStyle]="{'display': comedyMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="comedyMoviesTitle" [items]="comedyMovies" (pagination)="paginationComedyMovies()"></app-grid-horizontal>
</div>

<div class="romanceDiv" [ngStyle]="{'display': romanceMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="romanceMoviesTitle" [items]="romanceMovies" (pagination)="paginationRomanceMovies()"></app-grid-horizontal>
</div>

<div class="dramaDiv" [ngStyle]="{'display': dramaMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="dramaMoviesTitle" [items]="dramaMovies" (pagination)="paginationDramaMovies()"></app-grid-horizontal>
</div>

<div class="misteryAndSuspenseDiv" [ngStyle]="{'display': misteryAndSuspenseMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="misteryAndSuspenseMoviesTitle" [items]="misteryAndSuspenseMovies" (pagination)="paginationMisteryAndSuspenseMovies()"></app-grid-horizontal>
</div>

<div class="actionAndAdventureDiv" [ngStyle]="{'display': actionAndAdventureMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="actionAndAdventureMoviesTitle" [items]="actionAndAdventureMovies" (pagination)="paginationActionAndAdventureMovies()"></app-grid-horizontal>
</div>

<div class="fantasyDiv" [ngStyle]="{'display': fantasyMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="fantasyMoviesTitle" [items]="fantasyMovies" (pagination)="paginationFantasyMovies()"></app-grid-horizontal>
</div>

<div class="familyDiv" [ngStyle]="{'display': familyMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="familyMoviesTitle" [items]="familyMovies" (pagination)="paginationFamilyMovies()"></app-grid-horizontal>
</div>

<div class="terrorDiv" [ngStyle]="{'display': terrorMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="terrorMoviesTitle" [items]="terrorMovies" (pagination)="paginationTerrorMovies()"></app-grid-horizontal>
</div>

<div class="crimeDiv" [ngStyle]="{'display': crimeMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="crimeMoviesTitle" [items]="crimeMovies" (pagination)="paginationCrimeMovies()"></app-grid-horizontal>
</div>

<div class="documentaryDiv" [ngStyle]="{'display': documentaryMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="documentaryMoviesTitle" [items]="documentaryMovies" (pagination)="paginationDocumentaryMovies()"></app-grid-horizontal>
</div>

<div class="scienceFictionDiv" [ngStyle]="{'display': scienceFictionMovies.length == 0 ? 'none' : ''}">
    <app-grid-horizontal [typeOfItem]="'pelicula'" [title]="scienceFictionMoviesTitle" [items]="scienceFictionMovies" (pagination)="paginationScienceFictionMovies()"></app-grid-horizontal>
</div>

<div class="footerDiv">
    <app-footer></app-footer>
</div>