.h3Div h3{
    margin-left: 0.5em;
    color: white;
    font-family: 'OpenSansSemiBold';
    font-size: 150%;
    margin-top: 0.4em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.itemDiv > img{
    height: 85%;
}

.itemDiv > img:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.removeItemImg{
  height: 32px;
  width: 32px;
}

.removeItemImg:hover{
  cursor: pointer;
  opacity: .8;
}

.itemDiv{
  position: relative;
}

.removeItemContainer{
  position: relative;
}

.removeItemImg{
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
}

@media (max-width: 767px){
    .col-lg-3, .col-md-4, .col-sm-6, .col-12{
      width: 50%;
    }
  
    .text-sm{
      font-size: 15px!important;
    }
  
    .poster{
      max-width: 100%;
    }

    .removeItemImg{
      height: 25px!important;
      width: 25px!important;
    }
}
  