nav{
  padding: 20px;
}

.container-fluid{
  margin-left: 1.5em;
}

a{
  font-family: 'OpenSansSemiBold';
  color: white;
}

a:hover{
  color: #00b2e5;
}

.nav-link{
  margin-top: 0.5em;
}

#navbarSupportedContent{
  margin-left: 1.5em;
}

.nav-item{
  margin-left: 0.7em;
}

.navbar-toggler{
  background-color: white;
}

.navbar-toggler:hover{
  background-color: #00b2e5;
}

.logoutImg:hover{
  cursor: pointer;
}

.profileDiv{
  margin-left: 0.9em;
  margin-right: 1em;
}

.logoutDiv{
  margin-left: 1em;
}