<div class="contain mt-3 mb-5 p-4">
    <div class="row">
        <h5 class="text-white">{{ title }}</h5>

        <div #rowPoster class="rowposter mt-3 p-2" (scroll)="onElementScroll()">
            <ng-container *ngFor="let item of items">
                <!-- Compruebo de que tipo es el item; si es pelicula o serie y poster_path no es nuelo se muestra poster_path, si no cumple lo anterior
                significa que typeOfItem es persona así que compruebo si profile_path es nulo o no para mostrar esa imagen o una de assets -->
                <!-- Al pulsar en un elemento le paso a la ruta el tipo de elemento pulsado y su id -->
                <img [src]="(typeOfItem == 'pelicula' || typeOfItem == 'serie') && item.poster_path != null ? srcImage + item.poster_path : (item.profile_path != null ? srcImage + item.profile_path : '../../../../../../assets/image/noImageGrid-Horizontal.jpg')" class="rowimg largeposter" alt="..." [routerLink]="['/', typeOfItem, item.id]">
            </ng-container>
        </div>
    </div>
</div>