<div class="container-fluid carouselContainer">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let item of items">
        <!-- Al pulsar en un elemento le paso a la ruta el tipo de elemento pulsado y su id -->
        <div class="wrapper" [routerLink]="['/', typeOfItem, item.id]">
          <!-- Si la imagen es nula muestro una de assets -->
          <img [src]="item.backdrop_path != null ? srcImage + item.backdrop_path : '../../../../../../assets/image/noImageCarousel.jpg'" alt="">

          <div class="gradient-overlay left"></div>
          <div class="gradient-overlay right"></div>

          <div class="carousel-caption d-none d-md-block">
            <h2>{{ item.title || item.name}}</h2>
            <p>{{ item.overview }}</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
</div>