<div class="footer-basic">
    <hr class="separator" size="2px" style="margin-right: 3.5em; margin-left: 3.5em; margin-top: 0em; margin-bottom: 3em; color: white;"/>
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"><img src="../../../assets/image/instagram.png"></i></a>
            <a href="https://www.snapchat.com/es" target="_blank"><i class="icon ion-social-snapchat"><img src="../../../assets/image/snapchat.png"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"><img src="../../../assets/image/twitter.png"></i></a>
            <a href="https://es-es.facebook.com/" target="_blank"><i class="icon ion-social-facebook"><img src="../../../assets/image/facebook.png"></i></a>            
        </div>
        <p class="copyright"><img id="logoImg" src="../../../favicon.ico">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Copyright © 2023</p>
    </footer>
</div>