.contentDiv{
    margin-top: 8em;
}

.imgDiv{
  margin-bottom: 2em;
}

.textDiv{
    margin-top: 0em;
}

.textDiv p, .textDiv h2, .accountStatep{
  color: white;
}

.textDiv h2{
  font-family: 'OpenSansSemiBold';
  font-size: 2.5em;
}

.separator{
  color: white;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.itemVoteAverageSpan{
  font-size: 3em;
}

.descriptionp{
  margin-right: 7em;
}

.genresp, .maxVoteSpan{
  color: #696969!important;
}

.genreTitleSpan{
  font-family: 'OpenSansSemiBold';
  font-weight: bold;
}

.genresSpan{
  color: #b3b3b3!important;
}

.subtitleSpan{
  font-family: 'OpenSansSemiBold';
  font-size: 1em;
  color: #696969;
}

.textDiv p, .textDiv a .accountStatep{
  font-family: 'OpenSansRegular';
}

.favoriteImg, .ratedImg, .addToListImg{
  height: 35px;
  width: 35px;
}

.favoriteImg, .addToListImg{
  margin-top: -0.94em;
}

.ratedImg{
  margin-top: -0.4em;
}

.favoriteImg, .ratedSpan, .addToListImg{
  margin-right: 1em;
}

.ratedSpan{
  font-family: 'OpenSansRegular';
  font-size: 1.8em;
}

.favoriteImg:hover, .ratedImg:hover, .addToListImg:hover, .removeImg:hover{
  cursor: pointer;
  opacity: .8;
}

.removeListImg{
  margin-top: -0.2em;
  margin-left: 0.4em;
}

.removeAllItemsImg{
  margin-top: -0.25em;
  margin-left: 0.3em;
}

.removeListImg{
  height: 30px;
  width: 30px;
}

.removeAllItemsImg{
  height: 32px;
  width: 32px;
}

.trailera{
  color: #00b2e5;
}

.trailera:hover{
  color: #006e8d;
}

.accountStateDiv{
  margin-top: 0em;
  margin-left: 0em;
}

.listDiv{
  margin-top: 5em;
}

.movieDiv, .tvShowDiv, .personDiv{
  margin-left: 2.5em!important;
  margin-right: 2.5em!important;
}

@media (max-width: 767px) {
    .poster{
      max-width: 93%;
      height: auto;
    }

    .detailsDiv{
      margin-left: 0.6em!important;
      margin-right: 0.6em!important;
    }

    .imgDiv{
      margin-left: 0em!important;
      margin-right:0em!important;
    }

    .titleH2, .itemVoteAverageSpan{
      font-size: 2em!important;
    }

    .textDiv{
      margin-left: 0em!important;
      margin-right: 0em!important;
    }

    .listDiv, .movieDiv, .personDiv{
      margin-left: 0.6em!important;
      margin-right: 0.6em!important;
    }
}
